@charset "utf-8";
/* CSS Document */

.oneColFixCtrHdr #biografia {
	position: absolute;
	top: 80px;
	z-index: 98;
	left: 60px;
	padding: 20px;
	background-color: #000000;
	border: thin dashed #F1AD1A;
}

.oneColFixCtrHdr #biografia p {
	margin: 0px;
	padding: 0px;
	width: 310px;
	z-index: 99;
	}
.oneColFixCtrHdr    #biopolaroid     {
	position: absolute;
	top: 40px;
	left: 380px;
	z-index: 99;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	}

.lightbox
{
	display:none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 1300px;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}