/* ################################################################################## */
/*																                      */
/*	  		            	    	fstooltips.css 			   						  */
/*																                      */
/* ################################################################################## */

.fstooltips {

border: 1px solid #0000A0;
width: 180;

}

.tipheader {

background-color: #3E425D; /*#0000A0;*/
color: #F6EC59; /*#F3B627;*/
FONT-WEIGHT: bold;
FONT-SIZE: 8pt;
FONT-FAMILY: arial;

}

.tipcontent {

background-color: #B0B2DA; /*#CACAFF;*/
color: #191B39; /*#0000A0;*/
FONT-WEIGHT: normal;
FONT-SIZE: 8pt;
FONT-FAMILY: arial;

}

/* ################################################################################## */